body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #adc239;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: rgb(236, 202, 202);
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: center;
}

.content-items {
  width: 300px;
  /* border: 1px solid rgb(141, 137, 137); */
  margin: 20px;
  /* padding: 10px; */
  /* border-radius: 20px; */
  box-shadow: 2px 2px rgb(141, 137, 137);
  background-color: #f1f1f1;
}
.para{
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
